parameters:
    level: max
    paths:
        - src/Module0
        - src/Module1
        - src/Module2
        - src/Module3
        - src/Module4
        - src/Module5
#        - src/Module6
#        - src/Module7
#        - src/Module8
#        - src/Module9
#        - src/Module10
