parameters:
	ignoreErrors:
		-
			message: "#^Function isBadFunction\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Module7/bad_file.php

		-
			message: "#^Function isBadFunction\\(\\) has parameter \\$thisHasNoType with no type specified\\.$#"
			count: 1
			path: src/Module7/bad_file.php

		-
			message: "#^Function isBadFunction\\(\\) has parameter \\$whatIsInsideWeDoNotKnow with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Module7/bad_file.php

