parameters:
    level: max
    paths:
        - src
#        - legacy
    tmpDir: %currentWorkingDirectory%/cache/phpstan

#    reportUnmatchedIgnoredErrors: false

#    ignoreErrors:
#        - '#Call to sprintf contains#'

#includes:
#    - phpstan-baseline.neon
